<div class="grid grid-cols-3">
  <% @articles.each do |art| %>
    <div class=" grid grid-cols-2">
      <%= image_tag art.image.to_s, class: 'object-cover w-full h-full' %>
      <div class="flex flex-col h-full text-base">
        <%= link_to article_path(art.id) do %> 
        <h2 class="text-yellow-600 m-3 font-bold sado inline pb-1"><%= art.title %></h2>
        <% end %>

        <p class="m-3"><%= truncate art.body, length: 200 %></p>
        <p class="m-3 text-base">By: <%= art.user.username%></p>

      
        <div class="flex justify-between mx-2 self-start">
        <span class="flex items-center justify-center"> 
        <%= link_to article_votes_path(art.id), method: :post, class: 'text-xl' do %>
        <i class="fa fa-thumbs-up"></i>
        <% end %>

        <h2 class='p-1'> <%= art.votes.count %> <%= (art.votes.count) == 1 ? 'Vote' : 'Votes'%></h2>
        </span>

        <%= link_to "Read More", article_path(art.id), class: 'm-5 center-text pt-1' %>

        </div>


      </div>
    </div>
  <% end %>
</div>



