<nav class="flex items-center justify-between bg-gray-100 py-5 px-16 text-xl">
  <div class="uppercase font-bold">
      Good
    <span class="text-yellow-500">
      Eats
    </span>
  </div>

    <div class="font-semibold">
        <%= link_to 'Home', articles_path, class: "mx-2 p-2 hover:bg-yellow-700" %>
        <a href="/category/1" class= "mx-2 p-2 hover:bg-yellow-700">Mild</a>
        <a href="/category/2" class= "mx-2 p-2 hover:bg-yellow-700">Spicy</a>
        <a href="/category/3" class= "mx-2 p-2 hover:bg-yellow-700">Soup</a>
        <a href="/category/4" class= "mx-2 p-2 hover:bg-yellow-700">Appetizers</a>
             
        <%= link_to 'Add Article', new_article_path, class: "mx-2 p-2 hover:bg-yellow-700" %>      
    </div>

    <div class="text-gray-500 font-semibold">
      <% if current_user %>
        <%= link_to current_user.username.humanize, edit_user_registration_path, class: ''  %> |
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class:'' %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class:' uppercase' %> |
        <%= link_to 'Sign Up', new_user_registration_path,class:' uppercase' %>
      <% end %>
    </div>
  
</nav> 